*{
    font-size: medium;
    font-family: oswald;
}
header{
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    grid-column: 3/5;
    grid-row: 1/5;
}

nav li{
    flex: 1 1 100%;
    text-align: center;

}

nav a{
    display: block;
    text-align: center;

}


h1,h2{
    text-align: center;
   
    
   
}
h1{
    position: absolute;
    z-index: 4;
    left: 400px;
    font-size: xx-large;
}
:root{
    --primary-color: #272AD2;
    --secondary-color: #414288;
    --accent-color1:#682D63;
    --accent-color2: #5FB49C;

    --headings-font:"oswald",sans-serif;
    --paragraph-font:"lexend",sans-serif;

    --nav-background-color: #414288;
    --nav-link-color:var(--accent-color2);
    --nav-hover-link-color:var(--accent-color2);
    --nav-hover-background-color:var(--accent-color1);
}

.banner{
    display: grid;
    width: 100%;
    height: auto;
    grid-column: 3/4;
    grid-row: 3/4;
}


.hero div{
    position: relative;
    align-items: center;
}


 img p{
    height:160px;
    float:right;
}


img{
    width: 300px;
    display: block;
}
.team{
    width: 550px;
}

footer{
    display:flex;
    align-content: end;
    text-align: right;
}

footer img{
    height:80px;
    
}