.China{
    position: absolute;
    bottom: 160px;
    left:42.4px;
    opacity:1;
    animation-name: xw;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes xw{
25%{
    opacity: 0;
}
50%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}