body{
    font-size: 32px;
    background-color: rgb(251, 247, 247);
}
nav{
    background-color: steelblue;
    padding:10px;
}
nav a{
    color:white;
    display: block;
    padding: 20px;
}

main{
    background-color: rgb(99, 99, 97);
    max-width: 840px;
}

main img{
    width:200px;
    height:auto;
}

aside{
    width:300px;
    margin:5px;
    padding:5px;
    border:black solid 5px;
    background-color:red;
    color:rgb(15, 15, 15);
    text-align: center;
}
aside img{
    width:200;
    height:auto;
}
footer{
    background-color: antiquewhite;
    margin-top: 5px;
    border-top: 1px solid black;
    text-align: center;
}
img{
    width:150px;
    height:auto;
    border:1px solid steelblue;
    padding:2px;
    box-shadow: 0 0 30px gray;
    
}
h1{
    font-size: xx-large;
    background-color: blueviolet;
    color:rgb(14, 15, 15);
}

p{
    padding:10px;
    color:black;
}